.about{
	height: 90vh;
	display: grid;
	background-color: $col4;

	grid-template-columns: 50vw 30vw 20vw;
	grid-template-rows: 1fr;
	grid-template-areas:
		"zone1 zone2 zone3";

	// max-width: 100%;
	// max-height: 100%;

	.about__text{
		grid-area: zone1;
		place-self: center center;
		text-align: center;
		background: linear-gradient($col2, $col3);

		.about__text-para{
			.about__text-item {
				margin: 50px;
				font-size: 1.5rem;

				.about__text--item1{
				}
					
				.about__text--item2{
				}
	
				.about__text--item3{
				}
			}
		}
	}

	.about__img{
		grid-area: zone2;
		background: linear-gradient($col1, $col2, $col3, $col4, $col5, $col6);
		place-self: center center;
		-webkit-clip-path: circle(50%);
		clip-path: circle(50%);
	}

	.about__button{
		grid-area: zone3;
		place-self: end end;
		.about__button--link{
			background-color: $col2;
			color: $col6;			
			padding: 5px 20px 5px 20px;
			list-style-type: none;
			text-decoration: none;
			font-weight: bold;
			text-transform: uppercase;
		}
	}
}



