.gridpic{
	display: grid;
	grid-template-rows: repeat(4, 25vh);
	grid-template-columns: repeat(5, 20vw);
	grid-template-areas:
		"cel1 cel2 cel4 cel6 cel9"
		"cel3 cel3 cel4 cel7 cel9"
		"cel3 cel3 cel5 cel7 cel9"
		"cel3 cel3 cel5 cel8 cel10";

	.gridpic__figure-img{
		width: 100%;
		height: 100%;
		// place-self: center center;
	}

	.gridpic__figure1{
		background-color: $col3;
		grid-area: cel1;
	}

	.gridpic__figure2{
		background-color: $col2;
		grid-area: cel2;
	}

	.gridpic__figure3{
		background-color: $col4;
		grid-area: cel3;
	}

	.gridpic__figure4{
		background-color: $col2;
		grid-area: cel4;
	}
	
	.gridpic__figure5{
		background-color: $col4;
		grid-area: cel5;
	}
	
	.gridpic__figure6{
		background-color: $col2;
		grid-area: cel6;
	}
	
	.gridpic__figure7{
		background-color: $col1;
		grid-area: cel7;
	}
	
	.gridpic__figure8{
		background-color: $col2;
		grid-area: cel8;
	}
	
	.gridpic__figure9{
		background-color: $col4;
		grid-area: cel9;
	}
	
	.gridpic__figure10{
		background-color: $col1;
		grid-area: cel10;
	}
}
