.header{
	display: flex;
	flex-direction: column;
	justify-content: center;
	background-position: 50%;
	background-size: 100%;
	background-image: url("../img/headerbg.jpg");
	background-repeat: no-repeat;
	width: 100vw;
	height: 100vh;
}
